<div class="film-container">
  <div class="film-photo-container">
    <img src="assets/images/no-image-icon-6.png" alt="" class="assets/images/no-image-icon-6.png">
  </div>

  <div class="film-content">

    <div class="item-head">
      <span class="item-title">The Social Network</span>
    </div>

    <div class="synopsis">
      <span class="label-value">Synopsis</span>
      <p>
        Sans un bruit est un film réalisé par John Krasinski avec Emily Blunt, John Krasinski. Synopsis : Une famille tente de survivre sous la menace de mystérieuses ..
        Sans un bruit est un film réalisé par John Krasinski avec Emily Blunt, John Krasinski. Synopsis : Une famille tente de survivre sous la menace de mystérieuses ..
        Sans un bruit est un film réalisé par John Krasinski avec Emily Blunt, John Krasinski. Synopsis : Une famille tente de survivre sous la menace de mystérieuses ..
      </p>
    </div>
  </div>
</div>



