<div class="list-item-container">
    <div class="list-item-container-photo-container">
        <img src="assets/images/no-image-icon-6.png" alt="assets/images/no-image-icon-6.png" class="photo">
    </div>

    <div class="list-item-container-content">

        <div class="item-head">
            <span class="item-title">The Social Network</span>
            <span class="item-date">Sorti le 13/02/2015</span>
        </div>

        <br>

        <div class="item-details">
            <label class="label" for="item">Réalisé par : </label>
            <a class="label-value" name="item">Hardy Nkouka</a><br>
            <label class="label" for="item">Avec : </label>
            <a class="label-value" name="item">Jean Paul, Dialo, Ali, ...</a><br>
            <label class="label" for="item">Genre : </label>
            <a class="label-value" name="item">Drame</a><br>
        </div>

        <span class="label-value">Synopsis</span>

        <div class="synopsis-content">
            L'élève Ducobu s'est à nouveau fait renvoyer d'une école. Pour éviter la pension, il n'a plus qu'une seule chance : réussir à Saint-Potache.
            L'élève Ducobu s'est à nouveau fait renvoyer d'une école. Pour éviter la pension, il n'a plus qu'une seule chance : réussir à Saint-Potache
        </div>

        <div class="item-icons">
            <mat-icon class="item-icon">favorite</mat-icon>
            <mat-icon class="item-icon">visibility</mat-icon>
            <mat-icon class="item-icon">insert_invitation</mat-icon>
        </div>
    </div>
</div>
<br>