<mat-toolbar class="menu-horizontal">
    <div class="logo-container">Logo</div>
    <span class="menu-item" mat-button [matMenuTriggerFor]="menuFilms">Films</span>
    <span class="menu-item" mat-button [matMenuTriggerFor]="menuFilms">Acteurs</span>
    <span class="menu-item" mat-button [matMenuTriggerFor]="menuFilms">Réalisateurs</span>
</mat-toolbar>

<div class="page-container">
<app-research></app-research>
</div>





<mat-menu #menuFilms="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

